<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Brain Trust Bot Statistics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <span class="navbar-text">
      <%= @chat.display_name if @chat %>
    </span>
  </div>
</nav>
<br>
<div class="container">
  <% if @chat %>
    <% provide(:title, "Statistics For #{@chat.display_name}") %>
    <div class="row">
      <div class="col-md">
        <h4>Statistics For <%= @chat.display_name %></h4>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h5>Quotes & Photos By Sender</h5>
        <%= column_chart [
                             {
                                 name: 'Quotes',
                                 data: @chat.quotes.where.not(member: nil)
                                     .group(:member).count
                                     .sort { |a, b| b.second <=> a.second }
                                     .map { |x| [ x.first.display_name,
                                                  (x.second * 100.0 / @chat.quotes.where.not(member: nil).count).round(1) ]
                                     }
                             },
                             {
                                 name: 'Photos',
                                 data: @chat.photos.where.not(member: nil)
                                     .group(:member).count
                                     .sort { |a, b| b.second <=> a.second }
                                     .map { |x| [(x.first.display_name),
                                                 (x.second * 100.0 / @chat.photos.where.not(member: nil).count).round(1) ] }
                             }

                         ], xtitle: 'Sender', ytitle: 'Percentage Sent', suffix: '%' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h5>Quotes By Author</h5>
        <p>
          <b>Note:</b> authors are entered in manually when a quote is submitted. To help with grouping, only first names are used; this
          may result in slight inaccuracies if two authors have the same first name.
        </p>
        <% quotes_by_author = @chat.quotes.map { |x| x.author.split(" ").first.titleize } %>

        <%= column_chart quotes_by_author.uniq.map { |x| [x, quotes_by_author.count(x)] }
                             .sort {|a, b| b.second <=> a.second}
                             .select {|x| x.second > 2}, xtitle: 'Author', ytitle: 'Authored Quotes', label: 'Authored Quotes' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h5>Quote & Photo Submission History</h5>
        <% max = 0 %>
        <%= line_chart [
                           {
                               name: 'Quotes',
                               data: @chat.quotes
                                   .group_by_month(:created_at, format: "%b %Y")
                                   .count.to_a
                                   .map  {|x| current = (x.second * 100.0 / @chat.quotes.count).round(1); max = [current, max].max; [ x.first, current ] }
                           },
                           {
                               name: 'Photos',
                               data: @chat.photos
                                   .group_by_month(:created_at, format: "%b %Y")
                                   .count.to_a
                                   .map  {|x| current = (x.second * 100.0 / @chat.photos.count).round(1); max = [current, max].max; [ x.first, current ] }
                           }
                       ],
                       xtitle: 'Month', ytitle: 'Percentage Submitted', suffix: '%', max: (max + 1).ceil(-1) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h5>Quotes & Photos By Hour Of Day</h5>
        <%= line_chart [
                           {
                               name: 'Quotes',
                               data: @chat.quotes.group_by_hour_of_day(:created_at, format: "%-l %P", day_start: 12)
                                   .count.to_a
                                   .map {|x| [x.first, (x.second * 100.0 / @chat.quotes.count).round(1)]}
                           },
                           {
                               name: 'Photos',
                               data: @chat.photos.group_by_hour_of_day(:created_at, format: "%-l %P", day_start: 12)
                                   .count.to_a
                                   .map {|x| [x.first, (x.second * 100.0 / @chat.photos.count).round(1)]}
                           }
                       ],
                       xtitle: "Hour", ytitle: "Percentage Submitted", suffix: '%' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h5>Quotes & Photos By Day Of Week</h5>
        <%= column_chart [
                             {
                                 name: 'Quotes',
                                 data: @chat.quotes.group_by_day_of_week(:created_at, format: "%A", week_start: :mon)
                                     .count.to_a
                                     .map {|x| [x.first, (x.second * 100.0 / @chat.quotes.count).round(1)]}
                             },
                             {
                                 name: 'Photos',
                                 data: @chat.photos.group_by_day_of_week(:created_at, format: "%A", week_start: :mon)
                                     .count.to_a
                                     .map {|x| [x.first, (x.second * 100.0 / @chat.photos.count).round(1)]}
                             }
                         ],
                         xtitle: "Hour", ytitle: "Percentage Submitted", suffix: '%' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h5>Quotes With Context</h5>
        <% n_with_context = @chat.quotes.where.not(context: '').count; total = @chat.quotes.count %>
        <%= pie_chart [
                          [ 'Quotes With Context', (n_with_context * 100.0 / total).round(1) ],
                          ['Quotes Without Context', ((total - n_with_context) * 100.0 / total).round(1)]
                      ], suffix: '%' %>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md">
        <h5>Summons By Member</h5>
        <p>Who summons the Brain Trust most frequently?</p>
        <%= column_chart @chat.chat_members.where.not(summons_performed: 0)
                             .map {|m| [ (m.member.display_name), m.summons_performed ] }
                             .sort { |a, b| b.second <=> a.second }, xtitle: "Member", ytitle: "Summons Performed", label: "Summons Performed"  %>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md">
        <h5>Luck Distribution Histogram</h5>
        <%= column_chart @luck_distribution, xtitle: "Luck", ytitle: "Members" %>
      </div>
    </div>

    <hr>


    <div class="row">
      <div class="col-md">
        <a name="luck"></a>
        <h5>Single Luck Statistics</h5>
        <form class="form-inline">
          <label>Select a chat member:&nbsp;&nbsp;
            <select id="member_nav" class="form-control">
              <option value="" disabled selected>Choose a member</option>
              <% @chat.members.each do |m| %>
                <option value="<%= chat_statistics_path(@chat.id, member: m.id) %>#luck"<% if @member && m.id == @member.id %> selected<% end %>><%= m.display_name %></option>
              <% end %>
            </select>
          </label>
        </form>
        <% if @member %>
          <%= line_chart( @member.luck_histories.map { |l| [ l.created_at, l.luck ] }, curve: false, xtitle: "Date", ytitle: "Luck" ) %>
        <% end %>
      </div>
    </div>

    <br>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $("#member_nav").change(function() {
            document.location.href = $(this).val();
        })
    });
</script>
